langchain
langchain-community
langchain-openai
langchain-groq
langchain-text-splitters
langchain-huggingface
langchain-experimental
langgraph

faiss-cpu
chromadb
tiktoken
sentence-transformers
rank_bm25

pypdf
pymupdf
pdfminer
unstructured
python-docx
docx2txt

pandas
openpyxl
matplotlib
jq

python-dotenv
wikipedia
